name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Unit 1 Completion Check
      id: unit-1-completion-check
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Unit 1 Completion Check
        setup-command: ".github/workflows/autograde.sh"
        command: ".github/workflows/autograde.sh"
        timeout: 10
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        UNIT-1-COMPLETION-CHECK_RESULTS: "${{steps.unit-1-completion-check.outputs.result}}"
      with:
        runners: unit-1-completion-check
